In [7]:
# RANGE
range(0,15)
list(range(0,15))
#there is another way for to write the range 
[*range(0,15)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [8]:
#there is another way for to write the range ,it is same with list(range(0,15))
[*range(0,15)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
for number in range(0,15):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [6]:
for number in range(0,10):
    if(number>4):
        print(number)

5
6
7
8
9

In [10]:
# ENUMERATE
userName=['Mansur','Revan','Murad','Ramazan']
print(userName)

['Mansur', 'Revan', 'Murad', 'Ramazan']

In [11]:
userName=['Mansur','Revan','Murad','Ramazan']

for name in enumerate userName:
    print(name)

SyntaxError: invalid syntax (2703211563.py, line 1)